*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#282c34;
  color: white;
  margin: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.card {
  display: flex;
  flex-direction: row;
  background: white;
  width: 30%;
  margin-bottom: 10px;
  margin-right: 20px;
  height: fit-content;
  color: black;
  padding: 10px;
}
img{
  margin-right: 10px;
  margin-left: 5px;
  border-radius: 20px;
}
.titles {
  margin-left: 10px;
  margin-right: 20px;

}